<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.service.web.mapper.BlogMapper">
    <update id="changeLike">
        UPDATE t_blog SET like_count = #{likeCount} WHERE id=#{blogId};
    </update>
    <select id="selectCountGroupByBlogSort" resultType="java.util.Map">
        SELECT t.blog_sort_id, COUNT(t.id) AS blogNum FROM t_blog t WHERE t.is_deleted= 0 GROUP BY t.blog_sort_id;
    </select>
    <select id="selectTagByBlogId" resultType="com.myblog.service.web.entity.Tag">
        SELECT t3.id, t3.tag_name FROM t_blog t1
        INNER JOIN t_blog_tag t2 ON t1.id=t2.blog_id
        INNER JOIN t_tag t3 ON t2.tag_id=t3.id
        <foreach collection="blogs" open="(" close=")" separator="," item="blog">
            #{blog.id}
        </foreach>
    </select>
</mapper>
