<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.service.web.mapper.CommentMapper">

    <update id="updateLikeCount">
        UPDATE t_comment SET like_count = #{likeCount} WHERE id = #{parentId};
    </update>
</mapper>
