<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.service.security.mapper.RoleMapper">
    <insert id="insertRoleMenu">
        INSERT INTO t_role_menu (role_id, menu_id) VALUES(#{roleMenu.roleId,jdbcType=VARCHAR}, #{roleMenu.menuId,jdbcType=VARCHAR})
    </insert>
    <delete id="batchDeleteRoleAdminByRoleId">
        DELETE FROM t_role_admin WHERE role_id IN
        <foreach collection="roleIds" item="roleId" separator="," open="(" close=")">
            #{roleId,jdbcType=VARCHAR}
        </foreach>
    </delete>
    <delete id="deleteRoleMenuByRoleId">
        DELETE FROM t_role_menu WHERE role_id =#{roleId,jdbcType=VARCHAR}
    </delete>

    <select id="getRolesByUserId" resultType="com.myblog.service.security.entity.Role">

        SELECT t1.id, t1.role_name, t1.level, t1.create_time, t1.update_time, t1.summary FROM t_role t1
        INNER JOIN t_role_admin t2 ON t1.id = t2.role_id
        INNER JOIN t_admin t3 ON t2.admin_id = t3.id
        WHERE t3.is_deleted = 0 AND t3.id=#{userId};
    </select>
    <select id="getAdminIdsByRoleId" resultType="java.lang.String">
        SELECT admin_id FROM t_role_admin t WHERE t.role_id=#{roleId};
    </select>
    <select id="selectRoleMenu" resultType="com.myblog.service.security.entity.dto.MenuDto">
         SELECT t1.id, t1.name, t1.title, t1.pid, t1.icon, t1.sort, t1.hidden,
         t1.component, t1.path, t1.menu_type, t1.sub_count
        FROM t_menu t1
        LEFT JOIN t_role_menu t2
        ON t1.id=t2.menu_id WHERE t1.is_deleted=0 AND t1.menu_type != 2 AND t2.role_id=#{roleId,jdbcType=VARCHAR}
    </select>
    <select id="selectRoleMenus" resultType="java.lang.String">
        SELECT t1.permission
        FROM t_menu t1
        LEFT JOIN t_role_menu t2
        ON t1.id=t2.menu_id WHERE t1.is_deleted=0 AND t1.menu_type = 2 AND t2.role_id IN
        <foreach collection="roleIds" item="id" separator="," close=")" open="(">
            #{id}
        </foreach>
    </select>
</mapper>
