<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.service.security.mapper.WebVisitMapper">

    <select id="getWebVisitGroupByBehavior" resultType="java.util.Map">
        SELECT behavior, DATE_FORMAT(request_time, '%Y-%m-%d') date, COUNT(id) as count
        FROM t_web_visit WHERE is_menu = 1 AND create_time BETWEEN #{startTime} AND #{endTime}
		   GROUP BY behavior,DATE_FORMAT(request_time, '%Y-%m-%d')
    </select>
    <select id="getVisitByWeek" resultType="java.util.Map">
        SELECT DISTINCT DATE_FORMAT(request_time, '%Y-%m-%d') date, COUNT(id) count FROM t_web_visit WHERE request_time BETWEEN #{startTime} AND #{endTime} GROUP BY DATE_FORMAT(request_time, '%Y-%m-%d');
    </select>
</mapper>
